<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<p th:text="fail"></p>
<form method="post" action="/login">
    <h1>Sign in</h1>
    <input th:name="username" type="text" id="username" placeholder="Username"><br>
    <input th:name="password" type="text" id="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>
<a href="/register">Create account</a>
</body>
</html>