<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SingleData</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<header>
    <a href="/webshop/listavailable">ONLY AVAILABLE</a>
    <a href="/webshop/orderbycheapest">CHEAPEST FIRST</a>
    <a href="/webshop/containsnike">CONTAINS NIKE</a>
    <a href="/webshop/stockaverage">AVERAGE STOCK</a>
    <a href="/webshop/mostexpensive">MOST EXPENSIVE AVAILABLE</a>
</header>
<p th:text= "${item}"/>
</body>
</html>