<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
<ul>
    <li><a href="">Information</a></li>
</ul>
<img src="greenfox.png" alt="Mr. Fox">
<div th:object="${fox}">
    <p th:text="'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. He knows ' + *{tricks.size()} + ' tricks.'">
    <div>
    <h1>Known tricks</h1>
    <p th:if="*{tricks.size() < 1}">You know no tricks, yet. Go and learn some.</p>
        <ul th:if="*{tricks.size() > 0}">
            <li th:each="trick : *{tricks}" th:text="${trick}"/>
        </ul>
    </div>
    </p>
</div>
</body>
</html>