<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<p th:if="${warn}" style="color: #ff0000">Wrong username or password!</p>
<p>Login</p>
<form method="POST" action="/">
    <label for="username">Username: </label>
    <input id="username" type="text" th:name="username"/><br>
    <label>Password: </label>
    <input id="password" type="password" th:name="password">
    <button type="submit">GO</button>
</form>
<a href="/register">Don't have an account yet? Create one!</a>
</body>
</html>