<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrickCenter</title>
</head>
<body>
<div th:insert="fragments/navbar.html :: navbar(name=${fox.getName()})"></div>
<form method="post" th:action="@{/trickCenter(name=${name})}">
    <label for="trick">Tricks</label>
<select name="trick" id="trick">
    <option value = "code in Java">code in Java</option>
    <option value="write HTML">write in HTML</option>
    <option value="write CSS">write CSS</option>
</select>
    <button type="submit">Learn</button>
</form>
</body>
</html>