<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <meta charset="utf-8" />
</head>
<body>
<div>
   <table>
       <thead>
       <tr>
           <th>Name</th>
           <th>Balance</th>
           <th>Type</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each="account: ${account} ">
           <td th:text="${account.getName()}"></td>
           <td th:text="${account.getBalance()}" ></td>
           <td th:text="${account.getAnimalType() + ' Zebra'}"></td>
       </tr>
       </tbody>

   </table>
</div>
    <p th:text="${string}"></p>
    <p th:utext="${string}"></p>

</body>
</html>